@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 250,
  'GRAD' 0,
  'opsz' 24
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #E3F2FD
}

.chatbot-toggler{
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background:rgb(64, 93, 179);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    
}
.show-chatbot .chatbot-toggler{
    transform: rotate(90deg);
}

.chatbot-toggler span{
    position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child{
    opacity: 0;
}

/* 
.chatbot-toggler span:last-child{
    opacity: 0;
} */

.show-chatbot .chatbot-toggler span:last-child{
    opacity: 1;
}
.chatbot{
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    background: #fff;
    position: fixed;
    width: 450px;
    right: 40px;
    bottom: 100px;
    overflow: hidden;
    transform-origin: bottom right;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.2),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

.show-chatbot .chatbot{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}


.chatbot header{
    background: rgb(64, 93, 179);
    padding: 20px 0;
    text-align: center;
    position: relative;

}

.chatbot header h2{
    color: #fff;
    font-size: 1.3rem;
}

.chatbot header span{
    position: absolute;
    right : 20px;
    top: 50%;
    color: #fff;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.chatbot .chatbox{
    height: 530px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}

.chatbox .chat{
    display: flex;
}

.chatbox span{
    height: 32px;
    width: 32px;
    color: #fff;
    background: rgb(64, 93, 179);
    border-radius: 4px;
    align-self: flex-end;
    text-align: center;
    line-height: 30px;
    margin: 0 10px 7px 0 ;
}
.chatbox .outgoing {
    justify-content: flex-end;
    padding: 19px 0;
}
.chatbox .chat p{
    background: rgb(64, 93, 179);
    max-width: 75%;
    color: #fff;
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    font-size: 0.8rem;
}
.chatbox .chat p.error{
    color : rgb(57, 13, 13);
    background: #f8d7da;
}
.chatbox .incoming p{
    color : #000;
    background : #f2f2f2;
    border-radius: 10px 10px 10px 0;

}

.chatbot .chat-input{
    position: absolute;
    width: 100%;
    background : #fff;
    gap: 5px;
    bottom: 0;
    display: flex;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}

.chat-input textarea{
    border: none;
    outline: none;
    resize: none;
    height: 50px;
    width: 100%;
    max-height: 180px;
}

.chat-input span{
    align-items: flex-end;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 1.40rem;
    color : rgb(64, 93, 179);
    cursor: pointer;
    visibility: hidden;
}
.chat-input textarea:valid ~ span{
    visibility: visible;
}

@media(max-width : 500px ) {
    .chatbot{
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    
    .chatbox{
        height: 90%;
        overflow: auto;
    }
    .chatbot header span{
        display: block;
    }
}





